ORG_ID=...
BILLING_ACCOUNT_ID=...

HOST_PROJECT_NAME=...

SERVICE_PROJECT_NAME=...

SHARED_VPC_NAME=...

SHARED_SUBNET_NAME=...

SUBNET_RANGE=10.194.0.0/24

REGION=us-central1

REDIS_INSTANCE_NAME=...
